# LaTeX auxiliary files
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.gz
*.log
*.out
# Datasets
/Files/Code/Datasets/mave
/Files/Code/Datasets/oa-mine
# /Files/Code/Datasets/jsonllm
# Python cache files
/Files/Code/Modules/__pycache__
Files/Code/Datasets/jsonllm/jsonllm.csv
Files/Code/Datasets/jsonllm/jsonllm.jsonl
Files/Code/Generations/jsonllm.jsonl
Files/Code/Generations/jsonllm_cleaned.jsonl
